{% trans_default_domain 'profile' %}

<div class="add-navbar">
    <div class="add-navbar-list">
        <div class="add-navbar-item">
            <a class="add-navbar-profile-link" href="{{ url('profile.index') }}">{{ 'navbar.how_they_see_me'|trans }}</a>
        </div>
        <div class="add-navbar-item">
            <a class="add-navbar-profile-link" href="{{ url('profile.edit') }}">{{ 'navbar.edit_profile'|trans }}</a>
        </div>
        <div class="add-navbar-item">
            <a class="add-navbar-profile-link" href="{{ url('profile.edit_password') }}">{{ 'navbar.edit_password'|trans }}</a>
        </div>
        <div class="add-navbar-item">
            <a class="add-navbar-profile-link" href="{{ url('profile.offer_news') }}">{{ 'navbar.offer_news'|trans }}</a>
        </div>
        <div class="add-navbar-item">
            <a class="add-navbar-profile-link" href="#">{{ 'navbar.processed_news'|trans }}</a>
        </div>
    </div>
</div>