{% extends '@ship/layout/base.html.twig' %}

{% trans_default_domain 'profile' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('profile_page.css', 'css')) }}">
{% endblock %}

{% block page_title %}
    <p>{{ 'main_block_title'|trans }}</p>
{% endblock %}

{% block content %}
    <div class="content-inner-group">
        <div class="content-inner-block content-inner-block-main">
            <div class="content-inner-header">
                <div class="content-inner-title">
                    <p>{{ 'navbar.edit_password'|trans }}</p>
                </div>
            </div>

            <div class="content-inner-body">
                <div>
                    <div class="form-field">
                        <div class="form-label">
                            <label for="oldPlainPassword">{{ 'form.old_password'|trans }}</label>
                        </div>
                        <div>
                            <input id="oldPlainPassword" name="oldPlainPassword" class="form-input" type="password">
                        </div>
                    </div>

                    <div class="form-field field-margin-top">
                        <div class="form-label">
                            <label for="newPlainPassword">{{ 'form.new_password'|trans }}</label>
                        </div>
                        <div>
                            <input id="newPlainPassword" name="newPlainPassword" class="form-input" type="password">
                        </div>
                    </div>

                    <div class="form-field field-margin-top">
                        <div class="form-label">
                            <label for="newPlaintPasswordConfirmation">{{ 'form.new_password_confirmation'|trans }}</label>
                        </div>
                        <div>
                            <input id="newPlaintPasswordConfirmation" name="newPlaintPasswordConfirmation"
                                   class="form-input" type="password">
                        </div>
                    </div>

                    <div class="field-margin-top t-end">
                        <button class="btn">{{ 'btn.save'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-inner-block content-inner-block-additional">
            <div class="content-inner-header">
                <div class="content-inner-title">
                    <p>{{ 'navbar_title'|trans }}</p>
                </div>
            </div>
            <div class="content-inner-body">
                {{ include('@profile/_navbar.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}