{% extends '@ship/layout/base.html.twig' %}

{% trans_default_domain 'profile' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('profile_page.css', 'css')) }}">
{% endblock %}

{% block page_title %}
    <p>{{ 'main_block_title'|trans }}</p>
{% endblock %}

{% block content %}
    <div class="content-inner-group">
        <div class="content-inner-block content-inner-block-main">
            <div class="content-inner-header">
                <div class="content-inner-title">
                    <p>{{ 'navbar.how_they_see_me'|trans }}</p>
                </div>
            </div>

            <div class="content-inner-body">
                <div class="profile-avatar-login-block">
                    <div class="profile-avatar-block">
                        <img src="{{ absolute_url(asset(app.user.profile.avatar, 'avatar')) }}">
                    </div>
                    <div class="profile-login-block">
                        <p>{{ app.user.userIdentifier }}</p>
                    </div>
                </div>
                <div class="profile-info-block field-margin-top">
                    <p class="profile-info-content">
                        <b class="profile-info-title">{{ 'form.email'|trans }}:</b>
                        <span>{{ app.user.email }}</span>
                    </p>
                </div>
                <div class="profile-info-block field-margin-top">
                    <p class="profile-info-content">
                        <b class="profile-info-title">{{ 'form.full_name'|trans }}:</b>
                        <span>{{ app.user.profile.fullName|title ?: '&mdash;'|raw }}</span>
                    </p>
                </div>
                <div class="profile-info-block field-margin-top">
                    <p class="profile-info-content">
                        <b class="profile-info-title">{{ 'form.about'|trans }}:</b>
                        <span>{{ app.user.profile.about ?: '&mdash;'|raw }}</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="content-inner-block content-inner-block-additional">
            <div class="content-inner-header">
                <div class="content-inner-title">
                    <p>{{ 'navbar_title'|trans }}</p>
                </div>
            </div>
            <div class="content-inner-body">
                {{ include('@profile/_navbar.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}