<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyBigProject</title>

    {% block style %}
        <link rel="stylesheet" href="{{ asset('src/css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('src/css/main.css') }}">
    {% endblock %}
</head>

<body>
    <header>
        <div id="header-content">
            <div id="logo-block">
                <div id="logo-content">
                    <a href="#">
                        <img src="{{ asset('src/image/logo.png') }}" id="logo">
                    </a>
                </div>
            </div>

            <div id="search-nav-block">
                <div id="search-content">
                    <form action="#" id="search-form">
                        <input type="text" name="request" id="search-input" placeholder="Найти что-нибудь..."/>
                    </form>
                </div>

                <div id="nav-content">
                     <div id="navbar">
                        <a href="" class="navbar-item navbar-item-active">Все</a>
                        <a href="" class="navbar-item">Спорт</a>
                        <a href="" class="navbar-item">Животные</a>
                        <a href="" class="navbar-item">Политика</a>
                        <a href="" class="navbar-item">Технологии</a>
                    </div>
                </div>
            </div>

            <div id="auth-locale-block">
                <div id="auth-locale-flex">
                    <div id="auth-content">
                        <div id="reg-user-links">
                            {% if (true) %}
                                <a href="#" class="reg-link">Регистрация</a>
                                &frasl;
                                <a href="#" class="reg-link">Вход</a>
                            {% else %}
                                <a href="#" class="reg-link">test</a>
                                <a href="#" class="reg-link">Выйти</a>
                            {% endif %}
                        </div>
                    </div>
                    <div id="locale-content">
                        <div id="locale-switch">
                            <p class="locale-item locale-item-active">RU</p>
                            <p class="locale-item">EN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="container">
        <div id="container-title">
            <p>Новые игры, свежие игровые новости, обзоры, даты релизов и лучшие трейлеры!</p>
        </div>
        {% block content %}{% endblock %}
    </div>


    {% block script %}
        <script src="{{ asset('src/js/fontawesome.min.js') }}"></script>
    {% endblock%}
</body>
</html>