{% extends '@ship/layout/admin_base.html.twig' %}

{% trans_default_domain 'category' %}

{% block page_title %}{{ 'main_block_title.index'|trans }}{% endblock %}

{% block success_message %}{{ 'success_message.delete'|trans }}{% endblock %}

{% block content %}
    <div class="card">

        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <a href="{{ url('admin.categories.create') }}" class=" btn btn-sm btn-primary">{{ 'index.table.btn'|trans }}</a>
                {{ knp_pagination_render(categories) }}
            </div>
        </div>

        <div class="card-body table-responsive p-0 pb-3">
            <table class="table table-hover text-nowrap text-center">
                <thead>
                <tr>
                    <th>№</th>
                    <th>{{ 'index.table.title'|trans }} (рус)</th>
                    <th>{{ 'index.table.title'|trans }} (eng)</th>
                    <th>{{ 'index.table.slug'|trans }}</th>
                    <th>{{ 'index.table.active'|trans }}</th>
                    <th>{{ 'index.table.edit'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.ruName }}</td>
                        <td>{{ category.enName }}</td>
                        <td>{{ category.slug }}</td>
                        {% if (category.active) %}
                            <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                            <td><i class="fa-solid fa-eye-slash"></i></td>
                        {% endif %}

                        <td><a href="{{ url('admin.categories.edit', {'id': category.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}