{% extends '@ship/layout/base.html.twig' %}

{% trans_default_domain 'auth' %}

{% set container_attr = 'style="width: 40%"' %}

{% block style %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ absolute_url(asset('auth.css', 'css')) }}">
{% endblock %}

{% block page_title %}
    <p class="t-center">{{ 'form_title.registration'|trans }}</p>
{% endblock %}

{% block content %}
    <div class="auth-form">
        <form method="post" novalidate>
            <input type="hidden" value="{{ csrf_token(csrf_token_id) }}" name="{{ csrf_parameter }}">

            <table>
                <tbody>
                <tr>
                    <td>
                        <label for="login" class="auth-form-label form-label">{{ 'field.login.label'|trans }}</label>
                    </td>
                    <td>
                        <input type="text" id="login" class="auth-form-input form-input" name="login"
                               value="{{ app|flashField('login') }}" autofocus>
                    </td>
                </tr>
                {% if app|flashError('login', true) %}
                    <tr>
                        <td colspan="2">
                            <p class="form-error t-center">{{ app|flashError('login') }}</p>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        <label for="email" class="auth-form-label form-label">{{ 'field.email.label'|trans }}</label>
                    </td>
                    <td>
                        <input type="email" id="email" class="auth-form-input form-input" name="email"
                               value="{{ app|flashField('email') }}">
                    </td>
                </tr>
                {% if app|flashError('email', true) %}
                    <tr>
                        <td colspan="2">
                            <p class="form-error t-center">{{ app|flashError('email') }}</p>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        <label for="password"
                               class="auth-form-label form-label">{{ 'field.password.label'|trans }}</label>
                    </td>
                    <td>
                        <input type="password" id="password" class="auth-form-input form-input" name="plainPassword">
                    </td>
                </tr>
                {% if app|flashError('plainPassword', true) %}
                    <tr>
                        <td colspan="2">
                            <p class="form-error t-center">{{ app|flashError('plainPassword') }}</p>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            <div class="auth-form-field">
                <button class="btn">{{ 'submit.registration'|trans }}</button>
            </div>
        </form>

        <div class="auth-form-field">
            <div>
                <a href="#">{{ 'link.forgot_password'|trans }}</a>
            </div>
            <span style="color: #aaa">&VerticalSeparator;</span>
            <div>
                <a href="{{ url('auth.login') }}">{{ 'link.login'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}