{% extends '@ship/layout/base.html.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('src/css/home_page.css') }}">
{% endblock %}

{% block page_title %}
    <p class="t-center" style="color: white; font-weight: 100;">Новые игры, свежие игровые новости, обзоры, даты релизов и лучшие трейлеры!</p>
{% endblock %}

{% block content %}

    <div class="content-inner-block">
        <div class="content-inner-header">
            <div class="content-inner-title">
                <p>Лучшие игры за последнее время</p>
            </div>

            <div class="content-inner-link">
                <a href="#">Посмотреть все вышедшие новые игры</a>
            </div>
        </div>

        <div class="content-inner-body">
            <div class="best-games-list">

                <div class="best-games-item">
                    <div class="best-item-img-block">
                        <img src="{{ asset('src/image/1.jpg') }}">
                    </div>

                    <div class="best-item-info">
                        <div class="best-item-rate">
                            <p class="best-item-rate-value">5.7</p>
                        </div>

                        <div class="best-item-info-links">
                            <div class="best-item-info-link">
                                <a href="#">
                                    <i class="fa-solid fa-star"></i>
                                    <span>Обзоры</span>
                                </a>
                            </div>
                            <div class="best-item-info-link">
                                <a href="#">
                                    <i class="fa-solid fa-play"></i>
                                    <span>Видео</span>
                                </a>
                            </div>
                        </div>

                        <div class="best-item-info-platforms">

                        </div>
                    </div>
                </div>
                <div class="best-games-item">
                    <div class="best-item-img-block">
                        <img src="{{ asset('src/image/1.jpg') }}">
                    </div>

                    <div class="best-item-info">
                        <div class="best-item-rate">
                            <p class="best-item-rate-value">5.7</p>
                        </div>

                        <div class="best-item-info-links">
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-star"></i>
                                    <span>Обзоры</span>
                                </a>
                            </div>
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-play"></i>
                                    <span>Видео</span>
                                </a>
                            </div>
                        </div>

                        <div class="best-item-info-platforms">

                        </div>
                    </div>
                </div>
                <div class="best-games-item">
                    <div class="best-item-img-block">
                        <img src="{{ asset('src/image/1.jpg') }}">
                    </div>

                    <div class="best-item-info">
                        <div class="best-item-rate">
                            <p class="best-item-rate-value">5.7</p>
                        </div>

                        <div class="best-item-info-links">
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-star"></i>
                                    <span>Обзоры</span>
                                </a>
                            </div>
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-play"></i>
                                    <span>Видео</span>
                                </a>
                            </div>
                        </div>

                        <div class="best-item-info-platforms">

                        </div>
                    </div>
                </div>
                <div class="best-games-item">
                    <div class="best-item-img-block">
                        <img src="{{ asset('src/image/1.jpg') }}">
                    </div>

                    <div class="best-item-info">
                        <div class="best-item-rate">
                            <p class="best-item-rate-value">5.7</p>
                        </div>

                        <div class="best-item-info-links">
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-star"></i>
                                    <span>Обзоры</span>
                                </a>
                            </div>
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-play"></i>
                                    <span>Видео</span>
                                </a>
                            </div>
                        </div>

                        <div class="best-item-info-platforms">

                        </div>
                    </div>
                </div>
                <div class="best-games-item">
                    <div class="best-item-img-block">
                        <img src="{{ asset('src/image/1.jpg') }}">
                    </div>

                    <div class="best-item-info">
                        <div class="best-item-rate">
                            <p class="best-item-rate-value">5.7</p>
                        </div>

                        <div class="best-item-info-links">
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-star"></i>
                                    <span>Обзоры</span>
                                </a>
                            </div>
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-play"></i>
                                    <span>Видео</span>
                                </a>
                            </div>
                        </div>

                        <div class="best-item-info-platforms">

                        </div>
                    </div>
                </div>
                <div class="best-games-item">
                    <div class="best-item-img-block">
                        <img src="{{ asset('src/image/1.jpg') }}">
                    </div>

                    <div class="best-item-info">
                        <div class="best-item-rate">
                            <p class="best-item-rate-value">5.7</p>
                        </div>

                        <div class="best-item-info-links">
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-star"></i>
                                    <span>Обзоры</span>
                                </a>
                            </div>
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-play"></i>
                                    <span>Видео</span>
                                </a>
                            </div>
                        </div>

                        <div class="best-item-info-platforms">

                        </div>
                    </div>
                </div>
                <div class="best-games-item">
                    <div class="best-item-img-block">
                        <img src="{{ asset('src/image/1.jpg') }}">
                    </div>

                    <div class="best-item-info">
                        <div class="best-item-rate">
                            <p class="best-item-rate-value">5.7</p>
                        </div>

                        <div class="best-item-info-links">
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-star"></i>
                                    <span>Обзоры</span>
                                </a>
                            </div>
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-play"></i>
                                    <span>Видео</span>
                                </a>
                            </div>
                        </div>

                        <div class="best-item-info-platforms">

                        </div>
                    </div>
                </div>
                <div class="best-games-item">
                    <div class="best-item-img-block">
                        <img src="{{ asset('src/image/1.jpg') }}">
                    </div>

                    <div class="best-item-info">
                        <div class="best-item-rate">
                            <p class="best-item-rate-value">5.7</p>
                        </div>

                        <div class="best-item-info-links">
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-star"></i>
                                    <span>Обзоры</span>
                                </a>
                            </div>
                            <div class="best-item-info-link">
                                <a>
                                    <i class="fa-solid fa-play"></i>
                                    <span>Видео</span>
                                </a>
                            </div>
                        </div>

                        <div class="best-item-info-platforms">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="content-inner-group">
        <div class="content-inner-block content-inner-block-main">
            <div class="content-inner-header">
                <div class="content-inner-title">
                    <p>Новости</p>
                </div>

                <div class="content-inner-link">
                    <a href="#">Все новости</a>
                </div>
            </div>

            <div class="content-inner-body">
                <div class="news-list">
                    <div class="news-item">
                        <div class="news-img">
                            <img src="{{ asset('src/image/2.jpg') }}">
                        </div>
                        <div class="news-content">
                            <div>
                                <div class="news-content-date">
                                    <p>5 августа 2022 в 17:08</p>
                                </div>
                                <div class="news-content-title">
                                    <p>
                                        <a href="#">"Ведьмак 3" Геральт с новой внешностью шокировал игроков</a>
                                    </p>
                                </div>
                                <div class="news-content-article">
                                    Ведьмак Геральт из игры Ведьмак 3: Дикая охота от компании CD Projekt RED получил новую внешность и шокировали игроков....
                                </div>
                            </div>

                            <div class="news-content-statistic">
                                <div class="news-content-statistic-item">
                                    <p>
                                        <i class="fa-solid fa-eye"></i>
                                        <span>22</span>
                                    </p>
                                </div>
                                <div class="news-content-statistic-item">
                                    <p>
                                        <i class="fa-solid fa-message"></i>
                                        <span>22</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="news-img">
                            <img src="{{ asset('src/image/2.jpg') }}">
                        </div>
                        <div class="news-content">
                            <div>
                                <div class="news-content-date">
                                    <p>5 августа 2022 в 17:08</p>
                                </div>
                                <div class="news-content-title">
                                    <p>
                                        <a href="#">"Ведьмак 3" Геральт с новой внешностью шокировал игроков</a>
                                    </p>
                                </div>
                                <div class="news-content-article">
                                    Ведьмак Геральт из игры Ведьмак 3: Дикая охота от компании CD Projekt RED получил новую внешность и шокировали игроков....
                                </div>
                            </div>

                            <div class="news-content-statistic">
                                <div class="news-content-statistic-item">
                                    <p>
                                        <i class="fa-solid fa-eye"></i>
                                        <span>22</span>
                                    </p>
                                </div>
                                <div class="news-content-statistic-item">
                                    <p>
                                        <i class="fa-solid fa-message"></i>
                                        <span>22</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-inner-block content-inner-block-additional">
            <div class="content-inner-header">
                <div class="content-inner-title">
                    <p>Топ 30 игр по числу играющих на ПК</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}