{% extends '@auth/_base.html.twig' %}

{% trans_default_domain 'reset_password' %}

{% block form_title %}{{ 'form_title.request'|trans }}{% endblock %}

{% block content %}
    <div class="auth-form">
        {% if app.flashes('success') is not empty %}
            <p class="ch-label">{{ 'success'|trans }}</p>
        {% else %}
            <form method="POST">

            <input type="hidden" value="{{ csrf_token(csrf_token_id) }}" name="{{ csrf_parameter }}">

            <table>
                <tbody>
                <tr>
                    <td><label for="plainPassword" class="auth-form-label form-label">{{ 'field.password.label'|trans }}</label>
                    </td>
                    <td><input type="text" id="plainPassword" class="auth-form-input form-input" name="plainPassword" autofocus></td>
                </tr>
                {% if app|flashError('plainPassword', true) %}
                    <tr>
                        <td colspan="2">
                            <p class="form-error t-center">{{ app|flashError('plainPassword') }}</p>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td><label for="plainPasswordConfirmation" class="auth-form-label form-label">{{ 'field.password_confirmation.label'|trans }}</label>
                    </td>
                    <td><input type="text" id="plainPasswordConfirmation" class="auth-form-input form-input" name="plainPasswordConfirmation" autofocus></td>
                </tr>
                {% if app|flashError('plainPasswordConfirmation', true) %}
                    <tr>
                        <td colspan="2">
                            <p class="form-error t-center">{{ app|flashError('plainPasswordConfirmation')|trans }}</p>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            <div class="auth-form-field">
                <button name="submit" class="btn">{{ 'submit.reset'|trans }}</button>
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}